.picker {
    position: relative;
    width: 16em;
    /*(3)*4+2*/
    overflow: hidden;
    margin: 1rem auto 0;
    outline: 1px solid #ccc;
    padding: 0 30px;
}

.swiper-container {
    width: 3em;
    height: 210px;
    float: left;
}

.swiper-slide {
    text-align: center;
    font-size: 2rem;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    opacity: 0.25;
    transition: opacity 0.3s ease;
    cursor: default;
    font-weight: bold;
    -webkit-tap-highlight-color: transparent;
}

.swiper-slide-prev,
.swiper-slide-next {
    cursor: pointer;
}

.swiper-slide-active {
    opacity: 1;
}

.vizor {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 1rem;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 2rem;
    line-height: 62px;
}

.vizor:before,
.vizor:after {
    content: '';
    display: inline-block;
    line-height: inherit;
    height: 100%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
}

.vizor:before {
    left: 95px;
}

.vizor:after {
    left: 175px;
}

.arrows .swiper-container:after,
.arrows .swiper-container:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px;
    border-color: transparent;
    opacity: 0.5;
}

.arrows .swiper-container:before {
    top: 0.5rem;
    border-top-width: 0;
    border-bottom-color: currentColor;
}

.arrows .swiper-container:after {
    bottom: 0.5rem;
    border-bottom-width: 0;
    border-top-color: currentColor;
}

.glowBG {
    color: #000000;
    -webkit-animation: glowBG 1s ease-in-out infinite alternate;
    -moz-animation: glowBG 1s ease-in-out infinite alternate;
    animation: glowBG 1s ease-in-out infinite alternate;
}

@keyframes glowBG {
    from {
        text-shadow: 0 0 1em #ffffff, 0 0 1em #ffffff, 0 0 1em #ffffff, 0 0 1em #ffffff;
    }

    to {
        text-shadow: 0 0 1em #ffffff, 0 0 1em #ffffff, 0 0 1em #ffffff, 0 0 1em #ffffff;
    }
}