extends layout

block content
  p 操作方法-先按一號按鈕-再按Apply按鈕-再regionCrop
  button#regionCrop regionCrop 
  canvas#SOLUimgPerspectiveTransformation(width='1000' height='690')
  .container(style='display:none;')
    #background.o_image
      img#sample(src='./bill.png' alt='bill')
      //span ©reactcodes blog
    .p_image
      canvas#imageInit
      canvas#imageResult
  .b_container
    button#apply(style='display:none;') Apply
    //https://github.com/reactcodes/crop-perspective-correction-image
    button#TARGimgPerspectiveTransformation Apply-imgPerspectiveTransformation
  h1.splt EGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEG
  .divFlex.divExperiment(style='width:825px; margin-left:auto; margin-right:auto;')
    .floatLeft
      canvas#canvasExampleFilters(width='640' height='400')
    .floatLeft
      .buttonFilter(onclick='clickExampleFiltersGrayScale()') GrayScale
      .buttonFilter(onclick='clickExampleFiltersBlackAndWhite()') Black and White
      .buttonFilter(onclick='clickExampleFiltersSepia()') Sepia
      .buttonFilter(onclick='clickExampleFiltersEmboss()') Emboss
      .buttonFilter(onclick='clickExampleFiltersHalftone()') Halftone
      .buttonFilter(onclick='clickExampleFiltersInvertColors()') Invert
      .buttonFilter(onclick='clickExampleFiltersEdge()') Edge Detection
      .buttonFilter(onclick='clickExampleFiltersEdge2()') Edge Detection 2
      .buttonFilter(onclick='clickExampleFiltersCrop()') Crop
      .buttonFilter(onclick='clickExampleFiltersInvertScale()') Scale
      .buttonFilter(onclick='clickExampleFiltersReset()') Reset
  h1.splt EGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEGEG
  .divFlex.divExperiment(style='width:1188; margin-left:auto; margin-right:auto;')
    .floatLeft
      canvas#canvasAutoCrop(width='1000' height='570')
    .floatLeft
      button.buttonFilter(onclick='clickDetectCorners()') 1. Detect Corners
      .buttonFilter.justLeaveItAnyway(onclick='clickSelectCropArea()') 2. Select Crop Area
      .buttonFilter.justLeaveItAnyway(onclick='clickAutoCropCrop()') 3. Crop
      button.buttonFilter(onclick='clickAutoCropReset()') Reset
  .divFlex.divExperiment.justLeaveItAnyway(style='width:1188; margin-left:auto; margin-right:auto;')
    .floatLeft
      canvas#canvasFractals(width='1000' height='570')
    .floatLeft
      .buttonFilter(onclick='clickFractalDragon()') Dragon
      .buttonFilter(onclick='clickFractalTree()') Tree
      .buttonFilter(onclick='clickFractalBarnsleyLeaf()') Barnsley Leaf
      .buttonFilter(onclick='clickFractalMappleLeaf()') Mapple Leaf
  button(onclick='canvDraw()') canvDraw
  table 
    thead 
      tr 
        th up-left-x
        th up-left-y
        th up-right-x
        th up-right-y
        th down-left-x
        th down-left-y
        th down-right-x
        th down-right-y
    tbody#udlrxy
  table 
    thead 
      tr 
        th x座標max
        th y座標max
    tbody 
      tr 
        td#xmax
        td#ymax
  table 
    thead 
      tr 
        th 轉換座標臨界點
        th 座標點x
        th 座標點y
    tbody 
      tr 
        td wo
        td#wo_ptx
        td#wo_pty
      tr 
        td oh
        td#oh_ptx
        td#oh_pty
      tr 
        td wh
        td#wh_ptx
        td#wh_pty
    tfoot 
        td oo
        td#oo_ptx
        td#oo_pty
  table
    thead
      tr
        th 角點座標
        th#trig_corner_finish 是否為最邊角
        th 00_sqrt_of_sum_of_pow
        th w0_sqrt_of_sum_of_pow
        th 0h_sqrt_of_sum_of_pow
        th wh_sqrt_of_sum_of_pow
    tbody#mapchart
    tfoot 
      tr 
        td n/a
        td n/a
        td#00_sqrt_of_sum_of_pow n/a
        td#w0_sqrt_of_sum_of_pow n/a
        td#0h_sqrt_of_sum_of_pow n/a
        td#wh_sqrt_of_sum_of_pow n/a
  script(src='https://cdnjs.cloudflare.com/ajax/libs/algebra.js/0.2.0/algebra.min.js' integrity='sha512-uRz8bf2rMRddlRP1Og3D17oayi+oXNJdQxGzJqGD76gCNs+Q8dZOw9GbsJsW8853vyYxZhxEhfz/IZfelCyxVA==' crossorigin='anonymous' referrerpolicy='no-referrer')
  script(type='text/javascript' src='/javascripts/index.js')
  script(type='text/javascript' src='/javascripts/marvin.js')
  //
    <div class="p_image">
    <canvas id="imageInit"></canvas>
    </div>
    <div class="b_container">
    <button id="apply">Apply</button>
    </div>
  script(src='./libs/qunit-2.0.1.js' type='text/javascript')
  script(src='utils.js' type='text/javascript')
  script(src='perspective.js' type='text/javascript')
  script(src='./libs/d3.v3.min.js')
  script(src='./libs/numeric-solve.min.js')
  script(src='./index.js')
  script(type='text/javascript' src='/javascripts/TARGimgPerspectiveTransformation.js')
  script(type='text/javascript' src='/javascripts/regionCrop.js')
