doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://www.marvinj.org/releases/marvinj-0.9.js')
    link(rel='stylesheet' href='style.css')
  body
    block content
